@using System.Web.Configuration
@model IEnumerable<WHA.Models.Hydrants>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Hydrants</h2>


<table id="hydrants" class="table table-bordered table-hover">
    <thead>
        <tr>

            <th>Hydrant Location</th>
            <th>Hydrant Supervisor</th>
            

        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function() {
            var table = $("#hydrants").DataTable({
                ajax: {
                    url: "/api/hydrants",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "location"
                        
                        
                    }, {
                        data: "supervisorName"
                    }
                ]
            });

           

        });

    </script>
    }