@using System.Web.Configuration
@model IEnumerable<WHA.Models.Hydrants>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hydrants</h2>
<p>
    @Html.ActionLink("New Hydrant", "New", "Hydrant", null, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("New SuperVisor", "Register", "Account", null, new { @class = "btn btn-primary" })
</p>

    <table id="hydrants" class="table table-bordered table-hover">
        <thead>
        <tr>
            
            <th>Hydrant Location</th>
            <th>Hydrant Supervisor</th>
            <th>Delete</th>

        </tr>
        </thead>
        <tbody>
       
        </tbody>
    </table>

@section scripts{
    <script>
        $(document).ready(function() {
            var table = $("#hydrants").DataTable({
                ajax: {
                    url: "/api/hydrants",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "location",
                        render: function(data, type, hydrant) {
                            return "<a href='/hydrant/edit/" + hydrant.id + "'>" + hydrant.location + "</a>";
                        }
                    }, {
                        data: "supervisorName"
                    }, {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-hydrant-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#hydrants").on("click",
                ".js-delete",
                function() {
                    var button = $(this);
                    bootbox.confirm("Are you sure you want to Remove this Hydrant?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/hydrants/" + button.attr("data-hydrant-id"),
                                    method: "DELETE",
                                    success: function() {
                                        table.row(button.parents("tr")).remove().draw();
                                        button.parents("tr").remove();

                                    }

                                });
                            }
                        });

                });

        });

    </script>
}