@using System.Web.Configuration
@model IEnumerable<WHA.Models.Hydrants>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Hydrant Name</h2>

<h2>Here goes the Super Visor Details and Graphs</h2>
   

