@{
    ViewBag.Title = "Home Page";
}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div class="panel-heading">
    <h1>Admin Report</h1>
</div>
<div class="row">
    <div class="col-md-2"><nav class="cd-secondary-nav">
    <ul>
        <li><a href="javascript:daily();">Daily consumption</a></li>
        <li><a href="javascript:weekly();">Weekly Consumption</a></li>
        
    </ul>
</nav></div>
<div class="col-md-10"><div id="container" style="height: 400px"></div></div>
    


</div>




<script>
    

        var cons3= 0;
        var cons5= 0;
        var cons6 = 0;
        var cons7 = 0;
        var d1;
        globalv = {
        var : arr =[]
            };
            (function ($) {
                $.getJSON("http://whafyp.azurewebsites.net/api/pitoday?callback=MyCallbackFunction",
                    function (data) {
                        console.log(data);
                        $.each(data, function (i, item) {
                            if (i == 500) return false;
                            if (item.hydrantId == 3) {
                                cons3 = cons3 + item.consumption;
                               
                            }

                            if (item.hydrantId == 5) {
                                cons5 = cons5 + item.consumption;
                            }

                            if (item.hydrantId == 6) {
                                cons6 = cons6 + item.consumption;
                            }

                            if (item.hydrantId == 7) {
                                cons7 = cons7 + item.consumption;
                            }

                        });
                        console.log(cons3);
                     
                            var arr = new Array(['Malir', cons3], ['Liyari', cons5], ['Orangi', cons6], ['Saddar', cons7]);
                      
                            Highcharts.chart('container', {
                                chart: {
                                    type: 'pie',
                                    options3d: {
                                        enabled: true,
                                        alpha: 45,
                                        beta: 0
                                    }
                                },
                                title: {
                                    text: 'Water Consumption per Hydrant (today)'
                                },
                                tooltip: {
                                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                },
                                plotOptions: {
                                    pie: {
                                        allowPointSelect: true,
                                        cursor: 'pointer',
                                        depth: 35,
                                        dataLabels: {
                                            enabled: true,
                                            format: '{point.name}'
                                        }
                                    }
                                },
                                series: [{
                                    type: 'pie',
                                    name: 'Hydrant share',
                                    data: arr
                                }]
                            });
                        console.log(arr);

                    });
            
                
            })(jQuery);

            

            
           
            
                
            function daily()
            {
                var cons3 = 0;
                var cons5 = 0;
                var cons6 = 0;
                var cons7 = 0;
                var d1;
                globalv = {
                    var: arr = []
                };
                (function ($) {
                    $.getJSON("http://whafyp.azurewebsites.net/api/pitoday?callback=MyCallbackFunction",
                        function (data) {
                            console.log(data);
                            $.each(data, function (i, item) {
                                if (i == 500) return false;
                                if (item.hydrantId == 3) {
                                    cons3 = cons3 + item.consumption;

                                }

                                if (item.hydrantId == 5) {
                                    cons5 = cons5 + item.consumption;
                                }

                                if (item.hydrantId == 6) {
                                    cons6 = cons6 + item.consumption;
                                }

                                if (item.hydrantId == 7) {
                                    cons7 = cons7 + item.consumption;
                                }

                            });
                            console.log(cons3);

                            var arr = new Array(['Malir', cons3], ['Liyari', cons5], ['Orangi', cons6], ['Saddar', cons7]);

                            Highcharts.chart('container', {
                                chart: {
                                    type: 'pie',
                                    options3d: {
                                        enabled: true,
                                        alpha: 45,
                                        beta: 0
                                    }
                                },
                                title: {
                                    text: 'Water Consumption per Hydrant (today)'
                                },
                                tooltip: {
                                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                },
                                plotOptions: {
                                    pie: {
                                        allowPointSelect: true,
                                        cursor: 'pointer',
                                        depth: 35,
                                        dataLabels: {
                                            enabled: true,
                                            format: '{point.name}'
                                        }
                                    }
                                },
                                series: [{
                                    type: 'pie',
                                    name: 'Hydrant share',
                                    data: arr
                                }]
                            });
                            console.log(arr);

                        });


                })(jQuery);
            }
            function weekly()
            {
                var con0 = 0;
                var con1 = 0;
                var con2 = 0;
                var con3 = 0;
                var con4 = 0;
                var con5 = 0;
                var con6 = 0;
                var d1 = [];

                (function ($) {
                    $.getJSON("http://whafyp.azurewebsites.net/api/weekly?callback=MyCallbackFunction",
                        function (data) {
                            console.log(data);
                            $.each(data, function (i, item) {
                                if (i == 500) return false;
                                if (item.hydrantId == 3) {
                                    cons3 = cons3 + item.consumption;

                                }

                                if (item.hydrantId == 5) {
                                    cons5 = cons5 + item.consumption;
                                }

                                if (item.hydrantId == 6) {
                                    cons6 = cons6 + item.consumption;
                                }

                                if (item.hydrantId == 7) {
                                    cons7 = cons7 + item.consumption;
                                }

                            });


                        });
                    var arr = new Array(con0, con1, con2, con3,con4, con5,con6);
                    console.log(arr);
                    d1 = arr;
                    console.log(d1);

                })(jQuery);

                Highcharts.chart('container', {
                    chart: {
                        type: 'area',
                       
                    },
                    title: {
                        text: 'Past 7 days consumption'
                    },
                    
                    xAxis: {
                        allowDecimals: false,
                        labels: {
                            formatter: function () {
                                if (this.value == 0)
                                { return "Sunday"; }
                                else if (this.value == 1)
                                { return "Monday"; }
                                else if (this.value == 2)
                                { return "Tuesday"; }
                                else if (this.value == 3)
                                { return "Wednesday"; }
                                else if (this.value == 4)
                                { return "Thrusday"; }
                                else if (this.value == 5)
                                { return "Friday"; }
                                else if (this.value == 6)
                                { return "Saturday"; }
                               
                            }
                        }
                    },
                    yAxis: {
                        title: {
                            text: 'Water Consumption in ml'
                        },
                        labels: {
                            formatter: function () {
                                return this.value  + 'ml';
                            }
                        }
                    },
                    tooltip: {
                        pointFormat: '{series.name} consumed <b>{point.y:,.0f} ml</b><br/>water in {point.x}'
                    },
                    plotOptions: {
                        area: {
                            pointStart: 0,
                            marker: {
                                enabled: false,
                                symbol: 'circle',
                                radius: 2,
                                states: {
                                    hover: {
                                        enabled: true
                                    }
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Hydrants',
                        data: d1
                    }]
                 
                    
                    
                });
            }
        </script>


