@using System.Web.Configuration
@model IEnumerable<WHA.Models.Drivers>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Drivers</h2>
<p>
    @Html.ActionLink("New Driver", "New", "Driver", null, new { @class = "btn btn-primary" })
</p>

    <table id="drivers" class="table table-bordered table-hover">
        <thead>
        <tr>
            
            <th>Driver Name</th>
            <th>Driver Card Number</th>
            <th>Driver CNIC</th>
            <th>Driver Mobile Number</th>
            <th>Delete</th>

        </tr>
        </thead>
        <tbody>
      
        </tbody>
    </table>

@section scripts{
    <script>
        $(document).ready(function () {
               var table= $("#drivers").DataTable({
                    ajax: {
                        url: "/api/drivers",
                        dataSrc: ""
            },
                columns:[
                    {
                        data:"name",
                        render: function(data,type,driver) {
                            return "<a href='/driver/edit/" + driver.id + "'>" + driver.name + "</a>";
                        }
                    }, {
                        data:"uid"
                    },
                    {
                        data:"cnic"
                    },
                    {
                        data:"mobileNumber"
                    }
                    , {
                        data:"id",
                        render:function(data) {
                            return "<button class='btn-link js-delete' data-driver-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#drivers").on("click",".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Are you sure you want to delete this driver?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/drivers/" + button.attr("data-driver-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                        button.parents("tr").remove();

                                    }

                                });
                            }
                        });

                });

        });
    </script>
}
