@using System.Web.Configuration
@model IEnumerable<WHA.Models.Drivers>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Drivers</h2>
<p>
    @Html.ActionLink("New Driver", "New", "Driver", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>We don't have any Drivers Yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            
            <th>Driver Name</th>
            <th>Driver CNIC</th>
            <th>Driver Mobile Number</th>

        </tr>
        </thead>
        <tbody>
        @foreach (var driver in Model)
        {
            <tr>
                
                <td>@Html.ActionLink(driver.Name, "Edit", "Driver", new {id=driver.Id}, null)</td>
                <td>@driver.CNIC</td>
                <td>@driver.MobileNumber</td>

            </tr>
        }
        </tbody>
    </table>
}
